# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint 


# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = os.path.join("..", "Output_Data", "cities.csv")
city_weather = pd.read_csv(file)
city_weather.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,East London,-33.0153,27.9116,73.40,83,40,10.29,ZA,1609867444
1,1,Upernavik,72.7868,-56.1549,7.32,94,100,27.87,GL,1609867445
2,2,Buta,2.7858,24.7300,79.34,66,75,1.86,CD,1609867446
3,3,Bukama,-9.2000,25.8500,72.21,90,69,1.32,CD,1609867448
4,4,Dalnerechensk,45.9339,133.7225,-16.71,87,1,4.92,RU,1609867449

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=gkey)

In [23]:
locations = city_weather[["Lat", "Lng"]].astype(float)
humidity = city_weather["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
ideal_weather = city_weather.loc[(city_weather["Max Temp"] >= 70) & (city_weather["Max Temp"] <= 80) 
                                  & (city_weather["Wind Speed"] <10) & (city_weather["Cloudiness"] == 0)]
ideal_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,12,Salalah,17.0151,54.0924,75.20,44,0,3.36,OM,1609867459
136,136,Saint-Philippe,-21.3585,55.7679,78.80,61,0,6.93,RE,1609867613
153,153,Cockburn Town,21.4612,-71.1419,76.69,61,0,9.55,TC,1609867634
256,256,Saint-Pierre,-21.3393,55.4781,78.80,61,0,6.93,RE,1609867763
278,278,Niquero,20.0431,-77.5828,79.83,59,0,6.24,CU,1609867790
506,506,Umluj,25.0213,37.2685,75.58,66,0,7.72,SA,1609867840

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df = pd.DataFrame(data=ideal_weather)
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
12,12,Salalah,17.0151,54.0924,75.20,44,0,3.36,OM,1609867459,
136,136,Saint-Philippe,-21.3585,55.7679,78.80,61,0,6.93,RE,1609867613,
153,153,Cockburn Town,21.4612,-71.1419,76.69,61,0,9.55,TC,1609867634,
256,256,Saint-Pierre,-21.3393,55.4781,78.80,61,0,6.93,RE,1609867763,
278,278,Niquero,20.0431,-77.5828,79.83,59,0,6.24,CU,1609867790,
506,506,Umluj,25.0213,37.2685,75.58,66,0,7.72,SA,1609867840,

In [36]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_search = 
location = hotels_df[["Lat, Lng"]].astype(float)

params = {"location": location,
          "radius": 5000
          "type": "lodging",
          "key": gkey}
            
response = requests.get(base_url, params=params)
hotels = response.json()
pprint(json.dumps(hotels))

NameError: name 'json' is not defined

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure